---
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="left">
    <ul>
      {% for p in site.posts reversed %}
      <li>
        <code>
        <a href="#ku-{{ p.title | slugify }}">ku.<span>{{ p.title }}</span></a>
        </code>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="right">
    <h1 id="title">ku</h1>
    <small>
      A lightweight functional programming utility suite inspired by wu.js and
      Underscore.
    </small>

    {% for p in site.posts reversed %}
    <section id="ku-{{ p.title | slugify }}">
      <h2>
        <code>
          <span>ku.</span>{{ p.title }}<span>{{ p.args }}</span>
        </code>
      </h2>
      <hr>
{{ p.content }}
    </section>
    {% endfor %}
  </div>
</body>
</html>
